* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(157, 196, 255);
  section {
    // border: 1px solid #898989;
    border-radius: 3rem;
    width: 25rem;
    background-color: white;

    padding: 2rem;

    // box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.125);

    .title {
      text-align: center;
      font-size: 3rem;
      line-height: 1.5;
      margin-bottom: 2rem;
    }

    .input-wrapper {
      margin: 1rem 0;
      display: flex;

      :first-child {
        flex: 1;
      }

      input {
        padding: 1.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #292929;
        outline: none;
        border: 0;
        border-bottom: 2px solid #898989;
        height: 2rem;
        transition: background-color 0.3s;
      }
      input:hover,
      input:focus,
      button:hover {
        background-color: beige;
      }
      button:hover {
        color: #505050;
        border: 2px solid rgb(126, 126, 126);
      }
      button {
        outline: none;
        border: 0;
        font-weight: bold;
        color: #898989;
        background-color: white;
        padding: 1rem;
        border: 2px solid rgb(59, 59, 59);
        border-radius: 2rem;
        margin-left: 0.5rem;
        transition: all 0.3s;
        cursor: pointer;
      }
      .hide {
        display: none;
      }
    }
  }
}

body {
  color: $font_color;

  // Property Nesting
  font: {
    size: $font_size;
    family: $font_family;
  }

  line-height: $line_height;
}
